.bet {
    display: flex;
    flex-direction: column;

    height: 100%;

    .final-num {
        // display: none;
        opacity: 0;
        position: absolute;
        z-index: 1;
        left: 50%;
        margin-left: -356px;
        width: 750px;
        height: 708px;

        background: url('../../images/finel-bg.png') no-repeat top center / 100% auto;

        transform: scale(0.5);
        transition: all .3s; /* Animation */
        .number {
            padding-top: 280px;
            padding-right: 38px;
            font-weight: 600;
            font-size: 36px;
            color: #fff;
        }
        
        &.show {
            opacity: 1;
            transform: scale(1);
        }
    }
    .status {
        margin-top: 92px;
        flex-grow: 1;

        .issues {
            width: 100%;
            height: 35px;
            
            text-align: center;
            font-size: 18px;
            line-height: 35px;
            color: #11ffdb;
        }

        .status-heigh {
           
            width: 373px;
            height: 37px;
            margin: 0 auto;
            margin-top: 15px;

            font-size: 0;
    
            background: rgb(227,88,32);
            background: linear-gradient(90deg, rgba(227,88,32,0) 0%, rgba(227,88,32,0.804359243697479) 45%, rgba(227,88,32,0.804359243697479) 55%, rgba(227,88,32,0) 100%);
    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            &.hide {
                display: none;
            }
            .icon-heigh {
                
                margin-right: 10px;
                width: 26px;
                height: 26px;
                background: url('../../images/icon-current-h.png') no-repeat bottom center / 100% auto;

                &.shak {
                    animation: shake 0.5s; 
                    animation-iteration-count: infinite; 
                    @keyframes shake {
                        0% { transform: translate(0px, 1px) rotate(0deg); }
                        10% { transform: translate(0px, -2px) rotate(-1deg); }
                        20% { transform: translate(0px, 0px) rotate(1deg); }
                        30% { transform: translate(0px, 2px) rotate(0deg); }
                        40% { transform: translate(0px, -1px) rotate(1deg); }
                        50% { transform: translate(0px, 2px) rotate(-1deg); }
                        60% { transform: translate(0px, 1px) rotate(0deg); }
                        70% { transform: translate(0px, 1px) rotate(-1deg); }
                        80% { transform: translate(0px, -1px) rotate(1deg); }
                        90% { transform: translate(0px, 2px) rotate(0deg); }
                        100% { transform: translate(0px, -2px) rotate(-1deg); }
                    }
                }
            }
            span {
                height: 37px;
                line-height: 37px;
                font-size: 30px;
                color: #ffffff;
            }
            .countupStart-btn {
                display: none;
            }
        }

        .betCountdown {
            width: 215px;
            margin: 0 auto;
            .title {
                width: 113px;
                height: 41px;
                margin: 0 auto;

                background: url('../../images/countdown-text.png') no-repeat top center / 100% auto;
            }
            .countdown-box {
                width: 215px;
                height: 235px;
                position: relative;

                background: url('../../images/aim.png') no-repeat top center / 100% auto;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    // z-index: 1;
                    width: 215px;
                    height: 235px;
                    background: url('../../images/aim-circle.png') no-repeat top center / 100% auto;
                    animation: spin 4s infinite linear;
                    
                }
                &.blink::after {
                    animation: spin 4s infinite linear, aim-blink .7s infinite;
                }
            }
            .countdown-num {
                font-size: 95px;
                line-height: 235px;
                font-weight: bold;
                text-align: center;
                color: #fff;
                font-family: "PingFangSC"; 
                text-shadow: #ff6000 0 0 20px, #ff6000 0 0 20px, #ff6000 0 0 20px, #ff6000 0 0 20px;
            }

            &.hide {
                display: none;
            }
        }
    }

    .bet-panel {
        flex-shrink: 0;
        height: 186px;
        
        .bet-statistics-panel {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .bet-number {
                box-sizing: border-box;
                padding-left: 125px;
                width: 230px;
                height: 41px;

                
                
                background: url('../../images/bet-l-bg.png') no-repeat top left / auto 100%;

                .input-bet-number {
                    width: 100px;
                    height: 41px;
                    text-align: left;
                    line-height: 41px;
                    font-size: 18px;
                    color: #fff53b;
                    border: 0;
                    background-color: transparent;
                }
            }
            .bet-prize {
                box-sizing: border-box;
                padding-left: 115px;
                width: 230px;
                height: 41px;

                text-align: left;
                line-height: 41px;
                font-size: 18px;
                color: #fff53b;
                
                background: url('../../images/bet-r-bg.png') no-repeat top right / auto 100%;
            }
        }

        .bet-select-section {
            width: 493px;
            height: 146px;
            padding-left: 10px;

            background: url('../../images/bet-panel-bg.png') no-repeat top center / 100% auto;
        }

        .set-number-section {
            padding-top: 10px;
            padding-right: 10px;
            
            display: flex;
            flex-direction: row;

            .prize-rate {
                position: relative;
                .rate-num {
                    position: relative;
                    z-index: 2;
                    box-sizing: border-box;
                    width: 102px;
                    height: 65px;
                    padding-top: 25px;

                    font-size: 20px;
                    color: #fff53b;
                    line-height: 30px;
                    text-align: center;
                    
                    background: url('../../images/rate.png') no-repeat top center / 100% auto;
                }
                &::after {
                    content: '';
                    display: block;
                    z-index: 1;
                    position: absolute;
                    width: 142px;
                    height: 142px;
                    top: -36px;
                    left: -20px;
                    background: url('../../images/light.png') no-repeat top center / 100% auto;
                }
                // &.spin::after{
                //     animation: spin 4s infinite linear ;
                // }
            }
            &:hover .prize-rate::after{
                animation: spin 4s infinite linear ;
            }

            .ruler-section {
                width: 382px;
                margin-left: -4px;
                padding-top: 10px;
                

                position: relative;
                &::before {
                    content: '';
                    display: block;
                    z-index: 1;
                    position: absolute;
                    top: 9px;
                    left: 26px;
                    width: 23px;
                    height: 62px;

                    background: url('../../images/pointer.png') no-repeat top center / 100% auto;
                }
                &::after {
                    content: '';
                    display: block;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 45px;
                    height: 75px;

                    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(18,21,84,1) 100%);
                }
            }
            .ruler-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 4310px;
                height: 55px;
                ul {
                    display: flex;
                    flex-direction: row;
                    li {
                        flex-shrink: 0;
                        display: block;
                        width: 100px;
                        height: 55px;
                    }
                }

                .ruler-start, .ruler {
                    flex-shrink: 0;
                    padding-top: 35px;

                    height: inherit;

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    span {
                        flex-shrink: 0;
                        display: block;
                        width: 32px;
                        line-height: 25px;
                        font-size: 15px;
                        color: #11ffdb;
                        line-height: 25px;
                        text-align: center;

                        &.small {
                            font-size: 12px;
                        }
                    }
                }
                .ruler-start {
                    width: 288px;
                    background: url('../../images/ruler-start.png') no-repeat top left;
                    background-size: 100% auto;
                    span {
                        margin-right: 52px;

                        &:first-child{
                            margin-left: 21px;
                        }
                    }

                    + .ruler {
                        margin-left: 0;
                    }
                }
                .ruler {
                    // width: 420px;
                    margin-left: -5px;
                    background: url('../../images/ruler.png') repeat-x top left;
                    background-size: 42px auto;
                    span {
                        margin-right: 10px;
                        &:first-child{
                            margin-left: -15px;
                        }
                        
                    }
                }
            }
        }

        .submit-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
            margin-top: 10px;

            .set-amount {
                position: relative;
                z-index: 1;
                .set-group {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 304px;
                    height: 50px;

                    
                    background: url('../../images/amount-bg.png') no-repeat top center / 100% auto;

                    .btn-minus, .btn-plus {
                        width: 30px;
                        height: 32px;
                    }
                    .btn-minus {
                        margin-left: 15px;
                        background: url('../../images/icon-minus.png') no-repeat center center / 100% auto;
                    }
                    .btn-plus {
                        background: url('../../images/icon-plus.png') no-repeat center center / 100% auto;
                    }
                    .input-amount {
                        width: 105px;
                        height: 32px;
                        margin: 0px 10px;

                        font-size: 18px;
                        line-height: 32px;
                        color: #fff;
                        text-align: center;

                        background-color: #04133b;
                        border-radius: 3px;
                        border: 0;
                    }
                    .btn-show-fast {
                        width: 55px;
                        height: 32px;
                        margin-left: 29px;
    
                        font-size: 18px;
                        color: #fff;
                        line-height: 32px;
                        background: transparent;
                        border: 0;
                    }
                }
                
                .fast-amount-panel {
                    display: none;
                    position: absolute;
                    z-index: 1;
                    width: 471px;
                    height: 68px;
                    background: url('../../images/fast-amount.png') no-repeat top center / 100% auto;
                    .amount-group {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        height: 100%;

                        .btn-set-amount {
                            width: 55px;
                            height: 55px;

                            font-size: 17px;
                            line-height: 53px;
                            text-align: center;
                            color: #fff;

                            background: url('../../images/btn-fast.png') no-repeat top center / 100% auto;

                            &:hover{
                                color: #fff53b;
                                background: url('../../images/btn-fast-on.png') no-repeat top center / 100% auto;
                            }
                        }
                    }

                    &.show {
                        display: block;
                    }
                }
            }
            .submit-group {
                .btn-bet-confirm {
                    // display: none;
                    width: 170px;
                    height: 66px;
                    margin-left: 1px;
                    

                    background: url('../../images/btn-bet.png') no-repeat top center / 100% auto;
                    p {
                        margin: 0;
                        font-size: 24px;
                        line-height: 30px;
                        color: #fff;
                        text-shadow: black 0.1em 0.1em 0.2em;
                    }
                    p.issues {
                        font-size: 12px;
                        color: #fff;
                        line-height: 12px;
                    }
                    &.hide {
                        display: none;
                        + .submit-confirm {
                            display: block;
                        }
                    }
                }
                .submit-confirm {
                    display: none;
                    width: 170px;
                    height: 62px;
                    margin-top: 1px;
                    padding-top: 5px;
                    padding-left: 3px;
                    background: url('../../images/btn-cancel-submit.png') no-repeat top center / 100% auto;
                }

                .btn-bet-cancel {
                    width: 82px;
                    height: 50px;
                }
                .btn-bet-submit {
                    width: 80px;
                    height: 50px;
                }
            }
        }
    }

    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
    @keyframes aim-blink {
        0% {
            opacity: 1;
        }
        25% {
            opacity: 0.3;
        }
        50% {
            opacity: 1;
        }
        75% {
            opacity: 0.3;
        }
        100% {
            opacity: 1;
        }
    }

    .ant-spin {
        display: none;
        position: fixed;
        z-index: 100;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);

        .ant-spin-dot {
            margin-top: 33%;
        }

        &.ant-spin-spinning {
            display: block;
        }
    }
}